{
  "DestroyLobbyWhenHostLeaves": true,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": false,
  "ClientsCanRefreshObjects": false,
  "ClientsCanDestroyObjects": false,
  "UpdateRate": 30,
  "__guid": "4a8510fc-005e-4477-889f-bd4a1052f75c",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}
